/* Anime search results section */

.container {
  max-width: 180rem;
  min-height: 80rem;
  margin: 4vw auto;
  background-color: white;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

.container__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container__content--heading {
  display: inline-block;
  text-align: center;
  padding: 2rem 0;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-primary-dark-2);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  transition: all 0.2s;
  animation: moveInTop 2s ease-out;
}

.container__content--heading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.container__content--box {
  padding: 3rem 3rem;
}

.container__content--item {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 30rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
  animation: moveInTop 2s ease-out;
}

.container__content--item:hover {
  transform: translateY(-1rem);
}

.content__container--title {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.pagination {
  padding: 5rem 0;
  height: 15rem;
}

.pagination__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__content .fa-solid {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: var(--color-primary-dark-2);
  border: 1px solid var(--color-primary-dark-2);
  border-radius: 50%;
  transition: all 0.2s ease;
}

.pagination__content .fa-solid:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.pagination p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1.1px;
  padding: 0 3rem;
}
