/* Anime show page */
.container__anime {
  padding-top: 2rem;
  background-color: #f9f5f3;
}

.container__anime--name {
  font-size: 3rem;
  color: var(--color-primary-dark-2);
  padding-bottom: 2rem;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  transition: all 0.2s;
  animation: moveInTop 1s ease-out;
}

.container__anime--name:hover {
  transform: scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.container__anime--content {
  display: grid;
  min-height: 80vh;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "left right"
    "left right"
    "left right";
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.container__anime--left {
  font-family: "Roboto", sans-serif;
  grid-area: left;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  background-color: #fff0f6;
}

.container__anime--left img {
  align-self: center;
  width: 80%;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.container__anime--titles-heading {
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 1rem;
  border-bottom: 0.2px solid rgba(52, 52, 52, 0.5);
}

.container__anime--information-heading {
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 1rem;
  border-bottom: 0.2px solid rgba(52, 52, 52, 0.5);
}

.container__anime--stats-heading {
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 1rem;
  border-bottom: 0.2px solid rgba(52, 52, 52, 0.5);
}

.container__anime--left h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.container__anime--left span {
  font-size: 1.5rem;
  font-weight: 400;
}

.container__anime--english {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
}

.container__anime--right {
  font-family: "Roboto", sans-serif;
  grid-area: right;
  border-left: 1px solid rgba(52, 52, 52, 0.5);
  box-shadow: -12px 0 8px -4px rgba(0, 0, 0, 0.1);
}

.container__anime--right-grid {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "left right"
    "left right"
    "left right";
}

.container__anime--right-primary {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  box-shadow: 12px 0 8px -4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-image: linear-gradient(
    to right,
    #fff0f6,
    var(--color-primary-light)
  );
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  height: 70vh;
  border: 1px solid #fbf1f1;
  border-radius: 6px;
  background-color: #fbf1f1;
  box-shadow: 0 0 5px #333;
}

.container__anime--synopsis-heading {
  font-family: "Sigmar", cursive;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: var(--color-primary-dark);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
}

.container__anime--synopsis-text {
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.container__anime--trailer-heading {
  font-family: "Sigmar", cursive;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: var(--color-primary-dark);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
}

.content-box a {
  display: inline-block;
  width: 50%;
}

.trailer--img {
  display: block;
  margin: 0 auto;
  width: 90%;
  border-radius: 6px;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.container__anime--right-secondary {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
  background-color: #fff0f6;
  border-left: 1px solid rgba(52, 52, 52, 0.5);
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating--heading {
  font-size: 2rem;
  padding: 0.2rem 0.6rem;
  border: 1px solid var(--color-secondary-light);
  border-radius: 6px;
  background-color: var(--color-secondary-light);
  color: white;
}

.rating .fa-solid {
  padding: 2rem 0;
  color: var(--color-secondary-light);
  cursor: pointer;
  transition: all 0.2s ease;
}

.rating .fa-solid:hover {
  transform: scale(1.1);
  color: var(--color-secondary-dark);
}

.rating--text {
  font-size: 2rem;
}

.container__anime--more {
  width: 150%;
}

.container__anime--more h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.container__anime--more span {
  font-size: 1.5rem;
  font-weight: 400;
}

.container__anime--more-heading {
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2rem;
  border-bottom: 0.2px solid rgba(52, 52, 52, 0.5);
}
