@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --color-primary-light: #ffdeeb;
  --color-primary-dark: #faa2c1;
  --color-primary-dark-2: #f783ac;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sigmar", cursive;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

ul {
  text-decoration: none;
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 10rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header {
  box-shadow: 2px 4px 4px rgba(0, 3, 7, 0.3);
}

.nav__content {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}

.nav__content--title {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 15rem;
  text-shadow: 2px 4px 4px rgba(0, 3, 7, 0.6);
}

.nav__content--img {
  height: 10rem;
  padding-right: 5rem;
}

.nav__content ul {
  display: flex;
  flex-direction: row;
  padding-left: 15rem;
}

.nav__content--item {
  padding: 0 5rem;
}

.fa-brands {
  color: #fff;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  padding: 0.2rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.367);
  border-radius: 6px;
}

.search input {
  width: 90%;
  height: 3.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.search button {
  background-color: var(--color-primary-dark-2);
  color: #fff;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.search button:hover {
  background-color: #fff;
  color: var(--color-primary-dark-2);
}

.container {
  max-width: 180rem;
  min-height: 80rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

.container__content {
  display: flex;
  flex-wrap: wrap;
}

.container__content--heading {
  display: inline-block;
  text-align: center;
  padding: 5rem 0;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-primary-dark-2);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  transition: all 0.2s;
}

.container__content--heading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.container__content--box {
  padding: 1rem 1rem 1rem 7rem;
}

.container__content--item {
  display: flex;
  flex-direction: column;
  width: 20rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.container__content--item:hover {
  transform: translateY(-1rem);
}

.content__container--title {
  background-color: #fff;
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.pagination {
  padding: 5rem 0;
  height: 15rem;
}

.pagination__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  display: inline-block;
  padding: 0.5rem;
  color: #fff;
  background-color: var(--color-primary-dark-2);
  border: 1px solid var(--color-primary-dark-2);
  border-radius: 50%;
  transition: all 0.2s ease;
}

.fa-solid:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.pagination p {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1.1px;
  padding: 0 3rem;
}

/* UTILS */
.u-center-text {
  text-align: center;
}
